six
chardet
requests
grequests
requests-futures
aiohttp
timeout_decorator
diskcache
atomicwrites
requests_html

#
rolex
constant2
loggerFactory


mongoengine_mate
pymongo
mongoengine

sqlalchemy_mate
sqlalchemy

attrs_mate==0.0.4
attrs

sfm==0.0.17
